<div class="row">
  <div class="image col-12 col-md-6"></div>
  <div class="story col-12 col-md-6">
    <h1 class="title">About Us</h1>
    <p>Not the moment, but the person? Not where but with whom.?
      <br>In a nutshell it's our friendship era.
      Our story began in 2017 when we were freshmen with a passionate objective
      on challenging ourselves to the present technology by widening our knowledge
      and seeking the newest ideas that have been exist.
      We have met each other at SolverToBe team and have gotten the
      award of the best voluntary team, since that day we started to enroll
      all programming competitions, first one was AmmanCPC2018 then JCPC2018,
      we walked and participated in all competitions together,
      our friendship become to be stronger and closer than before,
      we spent lots of funny time, we dropped everything
      behind us and put dreams at the center of attention.<br>
      Finally، we have qualified for the ACPC and we're gonna visit egypt soon.
      After 4 years we decided to have graduation project together again,
      my way is yours dude,️ may allah Grant us perfect and success days.</p>
  </div>
</div>
<div class="abusalah-yousef">
  <div class="row flip-boxes">
    <div class="col-md-6 col-12 flip-box">
      <div class="front yousef">
        <div class="content text-center">
          Yousef
          <br>
          <span class="click-for-more">
          </span>
        </div>
      </div>
      <div class="back">
        <div class="content
        text-center text-success">
          Yousef R Hammad <br>
          QA @ JoAcademy <br>
          23 year <br>
          CIS @ BAU / IT <br>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12 flip-box">
      <div class="front abusalah">
        <div class="content">
          Abdullah
        </div>
      </div>
      <div class="back">
        <div class="content text-center text-success">
          Abdullah A AbuSalah <br>
          Java Developer @ ProgressSoft <br>
          22 year <br>
          CS @ BAU / IT <br>
        </div>
      </div>
    </div>
  </div>
</div>

