.home-top-header {
  background-image: url("src/assets/images/main-page-header.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
}

.home-top-header h1 {
  padding: 20vh 0;
  font-size: 50px;
  font-weight: lighter;
}

.student, .admin, .teacher {
  margin-bottom: 10px;
}

.student-card img, .teacher-card img, .admin-card img {
  width: 150px;
  padding-top: 5px;
}

.login-btn {
  display: contents;
}

mat-card-actions {
  background-color: #019F62;
  padding: 8px !important;
}
