<div class="statistic">
  <div class="row">
    <div class="statistic-card students-number col-12 col-md-3">
      <div class="row">
        <div class="col-8">
          <div class="icon">
            <i class="material-icons-outlined">account_box</i>
          </div>
          <div class="title">
            Students
          </div>
          <div class="number">
            {{studentsNumber}}
          </div>
        </div>
        <div class="col-4">
          <img src="src/assets/images/statistic-student.png" alt="student">
        </div>
      </div>
    </div>
    <div class="statistic-card teachers-number col-12 col-md-3">
      <div class="icon">
        <i class="material-icons-outlined">account_box</i>
      </div>
      <div class="title">
        Teachers
      </div>
      <div class="number">
        {{teachersNumber}}
      </div>
    </div>
    <div class="statistic-card courses-number col-12 col-md-3">
      <div class="icon">
        <i class="material-icons-outlined">account_box</i>
      </div>
      <div class="title">
        Courses
      </div>
      <div class="number">
        {{coursesNumber}}
      </div>
    </div>
    <div class="statistic-card absent-number col-12 col-md-3">
      <div class="icon">
        <i class="material-icons-outlined">account_box</i>
      </div>
      <div class="title">
        Absent
      </div>
      <div class="number">
        {{absentNumber}}
      </div>
    </div>
  </div>
</div>
