<div class="statistic">
  <div class="row">
    <div class="statistic-card students-number col-12 col-md-3">
      <div class="row">
        <div class="col-8 text-center">
          <div class="icon text-left" routerLink="/list/student">
            <i class="material-icons-outlined">list</i>
          </div>
          <div class="title">
            <h2>Students</h2>
          </div>
          <div class="number">
            {{studentsNumber}}
          </div>
        </div>
        <div class="col-4 image">
          <img src="assets/images/statistic-student.png" alt="student" width="75px">
        </div>
      </div>
    </div>
    <div class="statistic-card teachers-number col-12 col-md-3">
      <div class="row">
        <div class="col-8 text-center">
          <div class="icon text-left" routerLink="/list/teacher">
            <i class="material-icons-outlined">list</i>
          </div>
          <div class="title">
            <h2>Teachers</h2>
          </div>
          <div class="number">
            {{teachersNumber}}
          </div>
        </div>
        <div class="col-4 image">
          <img src="assets/images/statistic-teacher.png" alt="teachers" width="75px">
        </div>
      </div>
    </div>
    <div class="statistic-card courses-number col-12 col-md-3">
      <div class="row">
        <div class="col-8 text-center">
          <div class="icon text-left" routerLink="/list/course">
            <i class="material-icons-outlined">list</i>
          </div>
          <div class="title">
            <h2>Courses</h2>
          </div>
          <div class="number">
            {{coursesNumber}}
          </div>
        </div>
        <div class="col-4 image">
          <img src="assets/images/statistic-books.png" alt="courses" width="75px">
        </div>
      </div>
    </div>
    <div class="statistic-card absent-number col-12 col-md-3">
      <div class="row">
        <div class="col-8 text-center">
          <div class="icon text-left">
            <i class="material-icons-outlined">list</i>
          </div>
          <div class="title">
            <h2>Absent</h2>
          </div>
          <div class="number">
            {{coursesNumber}}
          </div>
        </div>
        <div class="col-4 image">
          <img src="assets/images/statistic-absent.png" alt="absent" width="75px">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="get-attendance-by-date">
  <h1 class="text-center">Get Attendance By Date</h1>
  <div class="row">
    <div class="form-group col-md-6 col-12">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Course</mat-label>
        <mat-select [formControl]="coursesControl"
                    required>
          <mat-option *ngFor="let course of courses"
                      [value]="course.id">
            {{course.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="coursesControl.hasError('required')">Please choose a course</mat-error>
      </mat-form-field>
    </div>
    <div class="form-group col-md-4 col-12">
      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Choose date</mat-label>
        <input matInput [matDatepicker]="dp3" disabled>
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-2 example-full-width">
      <button mat-button
              type="button"
              (click)="pickAttendanceByDateAndCourse()"
              class="example-full-width send">
        <i class="material-icons-outlined">send</i>
      </button>
    </div>
  </div>
</div>
