.statistic .row {
  margin: 15px !important;
}

.students-number {
  background-color: #63c2de;
}

.students-number .image, .teachers-number .image, .courses-number .image, .absent-number .image {
  opacity: .5;
}

.teachers-number {
  background-color: #20a8d8;
}

.courses-number {
  background-color: #ffc107;
}

.absent-number {
  background-color: #f86c6b;
}

.icon:hover {
  cursor: pointer;
}
