.statistic .row {
  margin: 15px !important;
}

.students-number {
  background-color: #63c2de;
}

/*.students-number .students-bg {*/
/*  background-image: url("src/assets/images/statistic-student.png");*/
/*  background-size: 75px 75px;*/
/*  background-repeat: no-repeat;*/
/*  background-position: right;*/
/*  opacity: 0.2;*/
/*}*/

.teachers-number {
  background-color: #20a8d8;
}

.courses-number {
  background-color: #ffc107;
}

.absent-number {
  background-color: #f86c6b;
}
